<div class="center">
  <%= image_tag 'toppage.jpg', style:"width:100%" %>
</div>

<div class="container text-center">
  <div class="before-content">
    <h3>あなたの知らない素敵な<br>曲やアーティストを見つけにいこう</h3>
    <h3>あなたのおすすめの曲や<br>アーティストをみんなに薦めよう</h3>
  </div>
  <div class="before-button">
     <%= link_to '新規会員登録', signup_path, class: 'btn btn-lg btn-light btn-block mt-4' %>
    <a href="#" class="btn btn-light">ログイン</a>
  </div>
</div>