/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
img{
  object-fit: cover;
}
h3{
  margin-bottom: 0;
}
header{
  position: fixed;
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  height: 76px;
  background-color: white;
  z-index: 100;
 }
 a:hover {
	opacity: 0.5 ;
	color: #353535;
	text-decoration: none;
}
.footer-line{
  margin: 0 0 30px 0;
  border-top: 1px solid #b4b4b4;
  width: 100%;
}
.footer-content{
  font-size: 20px;
}
li a{
  color: #353535
}
.alert{
  margin-top: 5px;
}
nav a:hover{
  opacity: 1;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-left: 0;
  padding-right: 0;
}
.line{
  background-color: #35353536;
  width: 100%;
  height: 1px;
}
.navbar-nav .dropdown-menu {
  position: absolute;
}
.outline{
  border: 2px solid #353535;
  margin: 80px auto;
  padding: 50px 100px;
  border-radius: 8px;
}



/*メディアエクエリ*/

@media (min-width: 400px) {
  /* ウインドウ幅500px以上の時に適用されるスタイル */
  .button-like{
    width: 40%;
  }
  .outline {
    padding: 50px 56px;
    width: 86%;
  }
  .outline .h1{
    font-size: 1.5rem;
  }
  .outline p{
    font-size: 14px;
  }
  .button{
    width: 370px;
  }
  .card{
    width: 193px;
  }
  .media-body {
    margin-left: 74px;
  }
  /*share.show.html.erb*/
  .in-line{
  margin: 0 35px;
  }
  .show-top{
  margin-bottom: 20px;
  }
  .show-img{
    width: 100%;
    height: 100%;
  }
  .show-contents{
    flex-direction: column;
  }
  .comment {
    margin: 7px 0;
  }
  /*users.show.html.erb*/
  .header-contents{
    left: 40px;
  }
  .mypage-select ul{
    padding: 0 17px 0 0;
  }
  .mypage-select li{
    font-size: 14px;
  }
  .like_artist {
    width: 120px;
    height: 120px;
  }
  .profile_img{
  width: 125px;
  height: 125px;
  }
  /*user.follow.html.erb*/
  .follow-body {
    margin: 6px 33px;
  }
  .follow-profile{
    width: 300px;
  }
  .follow a{
    height: auto;
    margin: auto 0;
  }
  .follow-img{
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 750px) {
  /* ウインドウ幅750px以上の時に適用されるスタイル */
  .outline {
    padding: 50px 100px;
  }
  .outline p{
    font-size: 1rem;
  }
  .button{
    width: 450px;
  }
  .card{
    width: 193px;
  }
  /*share.new*/
  .outline .h1{
    font-size: 2rem;
  }
  /*share.show.html.erb*/
  .show-top{
  margin-bottom: 20px;
  }
  .show-img{
    width: 300px;
    height: 300px;
  }
  .show-contents{
    flex-direction: inherit;
  }
  .profile_img{
  width: 150px;
  height: 150px;
  }
  /*users.show.html.erb*/
  .button-like{
    width: 25%;
  }
  .header-contents{
    left: 70px;
  }
  .mypage-select ul{
    padding: 0 49px 0 0;
  }
  .mypage-select li{
    font-size: 18px;
  }
  .follow {
    margin: 8px 100px;
  }
  .follow-body {
    margin: 6px 75px;
  }
  .like_artist {
    width: 180px;
    height: 180px;
  }
  .follow-img{
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1000px) {
  /* ウインドウ幅1000px以上の時に適用されるスタイル */
  /*top*/
  .card{
    width: 430px
  }
  /*share.new*/
  .outline .h1{
    font-size: 2.5rem;
  }
  .outline{
  width: 50%;
  }
  /*share.show.html.erb*/
  .in-line{
  margin: 0 135px;
  }
  .show-top{
  margin: 50px 109px 39px;
  }
  .show-img{
    width: 400px;
    height: 400px;
    margin: 30px 110px;
  }
  .comment {
    margin: 7px 130px;
  }
  .profile_img{
  width: 170px;
  height: 170px;
  }
  /*users.show.html.erb*/
  .header-contents{
    left: 110px;
  }
  .follow {
    display: flex;
    margin: 8px 320px;
  }
  .like_artist {
    width: 220px;
    height: 220px;
  }
  
}