// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like_artist{
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.button-like{
  display: block;
	position: relative;
	width: 25%;
	padding: 11px;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border-radius: 30px;
	border:1px solid #1B1B1B;
	margin: auto;
}