// Place all the styles related to the Musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-search{
  background-color: #343a40;
  color: white;
}
.search-content{
  margin: 30px auto;
}
.search-sent{
  margin:auto;
  text-align: center;
}
.width{
  width: 100%;
}