// Place all the styles related to the shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment_image{
  width: 100px;
  height: 100px;
}
.fa-trash-alt{
  color: #353535;
  font-size: 23px;
}
.fa-heart{
  color: red;
  font-size: 23px;
}