// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.before-content{
  margin: 100px auto;
}
.before-sentence{
  margin-bottom: 70px;
}
.before-sentence h3{
  font-weight: 100;
}
header{
  border: 1px solid #353535bd;  
}
.profile_img{
  border-radius: 50%;
  width: 170px;
  height: 170px;
}
.profile_img3{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.button{
  display: block;
	position: relative;
	width: 450px;
	padding: 11px;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
  border-radius: 30px;
	border:1px solid #1B1B1B;
	margin: auto;
}
.btn-sign{
  background-color: #353535;
  border: 0;
  color: white;
}
.btn-pri{
  background-color: #353535;
  color: white;
}
// ログイン後のトップページ
.show-top a{
  font-size: 25px;
  color: #343a40;
}
.navbar{
  padding: 0 1rem;
}
.side-line{
  border-left: solid 1px #35353536;
}
.youtube{
  max-width: 50%;
  margin: 0 auto;
}
.youtube img{
  width: 100%;
}
.btn-link{
  width: 30%;
  margin: 0 120px;
}