// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage-select ul{
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 49px 0 0;
}
.mypage-select li{
  list-style: none;
  margin: 27px 0;
  font-size: 18px;
  font-weight: 500;
}
.active{
  border-bottom: 1px solid #353535;
  padding-bottom: 10px;
}
// show.html.erb
.back_img{
  height: 350px;
  width: 100%;
  filter: blur(4px) contrast(50%);
}
.mypage-header{
  position: relative;
  overflow: hidden;
}
.header-contents{
  position: absolute;
  top: 90px;
  display: flex;
  color: #fff;
}
.header-sentence h4{
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: 400;
}


.info-top{
  margin: 0 42px;
}
.info-name{
  display: inline;
}
.info-name{
  font-size: 30px;
  margin: 10px;
}
.info-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.info-bottom{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.follow{
  display: flex;
  margin: auto;
}
.follow-img{
  border-radius: 50%;
}
.follow-body{
  width: 30%;
}
.follow-name{
  font-size: 34px;
}
.follow-profile{
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
}
.u-button-unfollow{
  border: 1px solid #353535;
  border-radius: 30px;
  padding: 10px 35px;
}
.u-button-unfollow:hover{
  background: #353535;
  color: white;
}
.u-button-follow{
  border: 1px solid #353535;
  border-radius: 30px;
  padding: 10px 35px;
  background: #353535;
  color: white;
}
.u-button-follow:hover{
  opacity: 0.5;
}