<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-warning">
    <ul class="mb-0 p-0">
      <% model.errors.full_messages.each do |message| %>
        <li style="list-style: none;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>